body { background-color:blue; }
h2 { color:red;text-align:center;font-size:100px; }
p { color:black;background-color:white;font-family:P052 Roman;font-size:154px;text-align:center; }
.yellow {
	color:yellow;
}
.green{
	color:green;
}


